<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369181768116-uhb5pjujolu8nhuvf9jke0ubtmrodd4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369181768116-uhb5pjujolu8nhuvf9jke0ubtmrodd4r</string>
	<key>API_KEY</key>
	<string>AIzaSyBeLa1knfdv93nWQ09I72jg-zRPWozRBC8</string>
	<key>GCM_SENDER_ID</key>
	<string>369181768116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BIG-BOB.Rob-Chat</string>
	<key>PROJECT_ID</key>
	<string>rob-chat-2d88d</string>
	<key>STORAGE_BUCKET</key>
	<string>rob-chat-2d88d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369181768116:ios:cb25a7b6c9afbaba915ae1</string>
	<key>DATABASE_URL</key>
	<string>https://rob-chat-2d88d.firebaseio.com</string>
</dict>
</plist>